.txt{
    font-family: 'Courier New';
    text-align: center;
    font-size: 100px;
    color: black;
}
.boton{
    margin-top: 20px;
    margin-right: 23%;
    width: 100px;
    height: 45px;
    border-bottom: 20px;
}
.btnsearch{
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 45px;
    border-bottom: 20px;
}
.table{
    margin-top: 20px;
    margin-left: 33%;
    width: 700px;
}
.select{
    width: 200px;
    margin-left: 30%;
}
.btnwarn{
    margin-left: 20px;
    color: white;
}
.btnwarn:hover{
    color: white;
}
.inpsearch{
    width: 220px;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
   
}
.inprice{
    width: 220px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}
.btnprice{
    margin-top: 20px;
    margin-right: 30px;
    width: 100px;
    height: 45px;
    border-bottom: 20px;
}



